<div id="<%= dom_id(box_group) %>">
  <p>
    <strong>Display Name:</strong>
    <%= box_group.display_name %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= box_group.notes %>
  </p>
  <% if box_group.boxes.any? %>
    <p>
      <strong>Boxes:</strong>
      <%= box_group.boxes.map { |box| link_to box.display_name, box_path(box) }.join(", ").html_safe %>
    </p>
  <% end %>
</div>